@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --green: rgb(97, 167, 119);
    --black: rgba(11,31,19);
    --bg-color: #e1e6ec;
    --shine: rgb(110, 242, 151);
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
}

.btn {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 22rem;
    height: 6rem;
    border: none;
    border-radius: 1.2rem;
    padding: 1rem;
    overflow: hidden;
    background-image: linear-gradient(100deg, var(--black) 1%, var(--green) 99%);
    transition: background-image .3s ease;
    .img-container {
        display: grid;
        place-items: center;
        height: 100%;
        aspect-ratio: 1 / 1;
        background-color: rgba(225, 225, 225, .1);
        border: 2px solid rgba(225, 225, 225, .2);
        border-radius: .6rem;
        transform: rotate(-10deg) translateX(-.8rem);
        scale: .95;
        opacity: 0;
        visibility: hidden;
        transition-property: transform, opacity, visibility, scale;
        transition-duration: .3s;
        transition-behavior: ease;
        img {
            height: 1.8rem;
            transform: rotate(-20deg);
            transition: transform .3s ease;
        }
    }
    &::before {
        position: absolute;
        content: "Work together";
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        transition: transform .3s ease;
        z-index: 99;
    }
    &::after {
        position: absolute;
        content: "";
        width: 7rem;
        height: 20rem;
        left: -12rem;
        top: 50%;
        transform: rotate(10deg) translate(1rem, -50%);
        background-color: var(--shine);
        filter: blur(2rem);
        transition: left .35s ease;
    }
    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(100deg, var(--black) 60%, var(--green) 99%);
        opacity: 0;
        transition: opacity .3s ease;
    }
}
.btn:hover {
    .gradient {
        opacity: 1;
    }
    &::after {
        left: calc(100% + 10rem);
    }
    .img-container {
        scale: 1;
        opacity: 1;
        visibility: visible;
        transform: rotate(0) translateX(0);
        img {
            transform: rotate(0);
        }
    }
    &::before {
        content: "Pick your plan";
        transform: translateX(-80%);
    }
}